#usuarios h3{
  font-size: 1.2em;
  padding-bottom: 15px;
}

#barra-busqueda{
  background-color: rgb(202, 210, 227);
  height: 2.8rem;
  width: 55rem;
  border: 0;
  border-radius: .5rem;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 30px;
}

.creador-usuario{
  display: grid;
  grid-template-areas: "primero segundo"
  "tercero tercero"
  "cuarto cuarto"
  "quinto quinto";
  grid-template-columns: minmax(20px, 1fr) minmax(20px, 1fr);
}

.creador-usuario h2 {
  grid-area: primero;
}

.abrir-ventana {
  grid-area: segundo;
}

#boton-buscar, .btn-crear-usuario{
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  border-radius: .5rem;
  height: 2.8rem;
  width: 14rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#boton-buscar:hover, .btn-crear-usuario:hover{
  background-color: white;
  color:#4CAF50;
}

#usuarios table {
  width: 100%;
  border-collapse: collapse;
}

#usuarios th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#usuarios thead {
  background-color: #f2f2f2;
}

#usuarios tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#usuarios tbody tr:hover {
  background-color: #ddd;
}

#usuarios th {
  background-color: #101c52;
  color: white;
}

/*PLANILLA*/
#creacion-usuario{
  grid-area: tercero;
  display: grid;
  font-size: 1rem;
  padding-left: 30px;
  margin-bottom: 20px;
}

.creador-usuario h3 {
  grid-area: cuarto;
}

.creador-usuario h2 {
  font-size: 1.2rem;
}

#nombre-de-empleado{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: auto;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#usuario{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: auto;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#contraseña{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: auto;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#rol-empleado{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: auto;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#boton-agregar{
  height: 2.8rem;
  width: 20%;
  font-size: 1.2rem;
  border: 3px solid #4a8a4c;
  background-color: #459148;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 30px;
}

#boton-agregar:hover{
  background-color: #ffffff;
  color: #4CAF50;
}

#fechas-usuario{
  grid-area: quinto;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

#fecha-inicio{
  margin-right: 100px;
  height: 2.3rem;
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  border: 0;
  border-radius: .8rem;
  background-color: rgb(202, 210, 227);
}

#fecha-fin{
  margin-right: 100px;
  height: 2.3rem;
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  border: 0;
  border-radius: .8rem;
  background-color: rgb(202, 210, 227);
}

.ventana{
  box-sizing: border-box;
}

.abrir-ventana {
  height: 2.4rem;
  width: 9rem;
  background-color: #333b7d;
  border: 3px solid #333b7d;
  border-radius: 0.8rem;
  color: white;
  font-size: .9rem;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 400px;
}


.abrir-ventana:hover{
  background-color: white;
  color: #333b7d;
}

.ventana-trabajadores{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

dialog.modal{
  background-color: white;
  width: 65rem;
  height: 30rem;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  text-align: center;
  top: 10%;
  left: 15%;
}

dialog.modal h1 {
  margin: 0;
}

dialog.modal p {
  opacity: 0.7;
  font-size: 14px;
}
dialog.modal button {
  margin-top: 1rem;
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  border-radius: .5rem;
  height: 2.8rem;
  width: 14rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
dialog.modal::backdrop {
  background-color: #33344430;
}

#barra-ventana{
  background-color: rgb(202, 210, 227);
  height: 2.8rem;
  width: 45rem;
  border: 0;
  border-radius: .5rem;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 30px;
}

#b-buscar{
  height: 2.8rem;
  width: 11rem;
  font-size: 1.2rem;
  border: 3px solid #4CAF50;
  background-color: #4CAF50;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 30px;
}

#b-buscar:hover{
  background-color: white;
  color: #4CAF50;
}