#planillas .container {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  gap: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  box-sizing: border-box;

  .table-container {
    tr:hover {
      color: light-dark(#333, #eee);
      background-color: light-dark(#eee, #333);
    }
  }
}
