#usuarios h3{
  font-size: 1.8em;
  padding-bottom: 15px;
}

#barra-busqueda{
  background-color: rgb(202, 210, 227);
  height: 2.8rem;
  width: 55rem;
  border: 0;
  border-radius: .5rem;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 30px;
}

#boton-buscar{
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  border-radius: .5rem;
  height: 2.8rem;
  width: 14rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#boton-buscar:hover{
  background-color: white;
  color:#4CAF50;
}

#usuarios table {
  width: 100%;
  border-collapse: collapse;
}

#usuarios th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#usuarios thead {
  background-color: #f2f2f2;
}

#usuarios tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#usuarios tbody tr:hover {
  background-color: #ddd;
}

#usuarios th {
  background-color: #4CAF50;
  color: white;
}

/*PLANILLA*/
#creacion-usuario{
  font-size: 1.2rem;
  padding-left: 30px;
  margin-bottom: 20px;
}

#nombre-de-empleado{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: 45rem;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#usuario{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: 17rem;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#contraseña{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: 17rem;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#rol-empleado{
  background-color: rgb(202, 210, 227);
  border: 0;
  border-radius: .5rem;
  height: 2.1rem;
  width: 17rem;
  font-size: 1.05rem;
  padding-left: 1rem;
  margin-bottom: 15px;
}

#boton-agregar{
  height: 2.8rem;
  width: 100%;
  font-size: 1.2rem;
  border: 3px solid #4CAF50;
  background-color: #4CAF50;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 30px;
}

#boton-agregar:hover{
  background-color: #ffffff;
  color: #4CAF50;
}

#fechas-usuario{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

#fecha-inicio{
  margin-right: 100px;
  height: 2.3rem;
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  border: 0;
  border-radius: .8rem;
  background-color: rgb(202, 210, 227);
}

#fecha-fin{
  margin-right: 100px;
  height: 2.3rem;
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  border: 0;
  border-radius: .8rem;
  background-color: rgb(202, 210, 227);
}

.ventana{
  box-sizing: border-box;
}

.abrir-ventana {
  height: 2.4rem;
  width: 10rem;
  background-color: #333b7d;
  border: 3px solid #333b7d;
  border-radius: 0.8rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 2rem;
}


.abrir-ventana:hover{
  background-color: white;
  color: #333b7d;
}

.ventana-trabajadores{
  display: flex;
  background-color: rgb(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal{
  background-color: white;
  width: 65rem;
  height: 30rem;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

#barra-ventana{
  background-color: rgb(202, 210, 227);
  height: 2.8rem;
  width: 45rem;
  border: 0;
  border-radius: .5rem;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 30px;
}

#b-buscar{
  height: 2.8rem;
  width: 11rem;
  font-size: 1.2rem;
  border: 3px solid #4CAF50;
  background-color: #4CAF50;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 30px;
}

#b-buscar:hover{
  background-color: white;
  color: #4CAF50;
}