@import url('./reset.css');

:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(#eee, #333);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 10dvh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgba(25, 131, 176, 1);
    padding-right: 2%;
    align-content: center;
    gap: 1rem;
    
    button {
        background-color: transparent;
        border: 0;
    }

    h2 {
        color: white;
    }

    .usuario {
        display: flex;
        color: #eee;
        font-size: large;
        align-items: center;
        gap: .5rem;
    }
}

header button {
    img {
        margin-left: 1.6rem;
        height: 4vh;
    }
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
    &:active {
        scale: 0.9;
    }
}

.modal-menu {
    display: grid;
    align-content: start;
    border: 0;
    position: relative;
    grid-template-columns: auto;
    width: auto;
    min-width: 180px;
    background-color: rgba(29, 37, 44, 1);
    top: 10%;
    min-height: 90dvh;
    box-sizing: border-box;
    gap: 2rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: 1.6rem;

    header {
        flex-direction: row;
        height: auto;
        background-color: transparent;
    }

    ul {
        flex-direction: column;
    }

    header img {
        height: 20px;
        width: 20px;
    }

    header,
    ul {
        display: flex;
        gap: 1rem;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
}

.modal-menu button {
    text-align: left;
    color: #eee;
    cursor: pointer;
    width: 100%;
    border: 0;
    font-size: 1.3rem;
    background-color: transparent;
    border-radius: 5%;
    padding: .5rem;

    &:hover {
        background-color: #223e63;
    }

    &:active {
        color: #c2c1c1;
        background-color: rgb(41, 70, 83);
    }
}

main {
    display: flex;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: light-dark(#333,#eee);

    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        padding: 2%;
        gap: 1.2rem;
    }

    form, fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 77, 97);
    width: 100%;
    height: 10vh;
}