@import url('./reset.css');

header {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgba(25, 131, 176, 1);
    padding-right: 2%;
    align-items: center;
    gap: 1rem;
    & button {
        background-color: transparent;
        border: 0;
        & :hover {
            scale: 1.1;
            cursor: pointer;
        }
        & :active {
            scale: 0.9;
        }
        & img {
            margin-left: 1.6rem;
            height: 4vh;
        }
    }
    & h2 {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    & .logo {
        color: #eee;
        font-size: medium;
    }
}
.area-trabajo {
    display: flex;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}
menu {
    display: grid;
    align-content: start;
    grid-template-columns: auto;
    background-color: rgba(29, 37, 44, 1);
    width: 18vw;
    max-width: 300px;
    min-width: 100px;
    height: 140%;
    gap: 1.5rem;
    padding: 0.3rem;
    padding-top: 1.6rem;
    transition: margin-left 0.7s;
    & section {
        color: #eee;
        font-size: 1.3rem;
    }
    & button {
        padding-left: 5%;
        text-align: left;
        color: #eee;
        cursor: pointer;
        width: 100%;
        border: 0;
        font-size: 1.3rem;
        background-color: transparent;
        border-radius: 5%;
        &:hover {
            color: #bbfff0;
        }
        &:active {
            color: #eee;
            background-color: rgb(43, 78, 94);
        }
    }
    &[hidden] {
        margin-left: -1px;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #eee;
    width: 100%;
    height: 140%;
    align-items: start;
    padding: 1.8rem;
    & header {
        color: #eee;
        padding-inline: 2rem;
        background-color: rgba(29, 37, 44, 1);
    }
    & .tabla-conteiner {
        display: grid;
        margin: 3%;
        padding: 3rem;
        text-align: center;
        gap: 50%;
        border: solid 0.12rem rgba(0, 0, 0, 0.150);
    }
}